<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TRASPASO DE DATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="titulo"> Formulario Modificacion de datos</div>

  <!-- etiqueta flotante -->

  <div class="contenido">
    <form [formGroup]="persona">
      <ion-item>
        <ion-label>Rut :</ion-label>
        <ion-input formControlName="elRut">{{perso.rut}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nombre Completo :</ion-label>
        <ion-input formControlName="elNombreCompleto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Edad :</ion-label>
        <ion-input formControlName="elEdad"></ion-input>
      </ion-item>
      <ion-button color="success" type="submit">Modificar</ion-button>
      <ion-button color="primary" routerLink="/ejemplo1">Listar</ion-button>
      
    </form>
  </div>
  <ion-label>Listado</ion-label>

</ion-content>
